.container-cadastro {
  max-width: 450px;
  margin: auto;
  background: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  text-align: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

label {
  margin-bottom: 6px;
  font-weight: 500;
}

input {
  padding: 8px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 16px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #005eff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #013fa3;
}
